h1,h2,h3,h4,h5,ul,ol,li{
  margin: 0;
  padding: 0;
}
ul,ol,li{
  list-style: none;
}
body {
	background: #eee !important;
  font-family: 'Roboto', sans-serif;
}


.wrapper {
	margin-top: 80px;
  margin-bottom: 80px;
}

h1#userLogin{
  background: #0081e0;
  text-align: center;
  font-size: 20px;
  color: #fff;
  padding: 15px 0px;
}

.form-signin, .form-signup {
  padding: 45px 35px 55px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);
}
#loginErrorMessage{
  width: 360px;
  padding: 15px;
  background: #ff0000;
  text-align: center;
  font-weight: bold;
  margin: 0 auto;
  color: #fff;
  position: relative; top: 50px;
}
#profile-bg{
  height: 70px;
}
#profile-details{
  text-align: center;
  padding: 10px;
}

#profile-details h3{
  font-size: 18px; font-weight: bold;
  margin-bottom: 10px;
}
#profile-details p{
  color: #7e7e7e;
}
#profile-details ul{
  text-align: center;
}
#profile-details ul li{
  display: inline-block;
}
#profile-details ul li h4{
  font-size: 15px;
}
#profile-details ul li span{
  font-weight: bold;
}
#profile-details ul li:first-of-type{
  border-right: 1px solid #ccc;
  padding-right: 5px; margin-right: 3px;
}
#about-details li:not(:last-of-type){
  margin-bottom: 7px;
}
#about-details li label{
  margin-right: 10px;
}
